<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/recipes">Recipes</a>
    <!-- show different nav links depending on user's log in --> 
    <% if (currentUser) { %>
        <!-- this works because we set res.locals.currentUser in app.js on every req -->
      <a href="/profile/<%= currentUser.username %>">My Profile</a>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>
  </nav>
  <main>

  <!-- closure at footer.ejs -->